{% for route in wraith_redirector_effective_blueprints %}
upstream wraith_{{ route.name | replace('-', '_') }}_backends {
{% if route.balance is defined and route.balance and route.balance not in ['roundrobin', 'round_robin'] %}
    {{ route.balance }};
{% endif %}
{% for backend in route.backends %}
    server {{ backend.address }}{% if backend.weight is defined %} weight={{ backend.weight }}{% endif %}{% if backend.max_fails is defined %} max_fails={{ backend.max_fails }}{% endif %}{% if backend.fail_timeout is defined %} fail_timeout={{ backend.fail_timeout }}{% endif %};
{% endfor %}
}

server {
    listen {{ route.listen }};

{% for cidr in route.allowed_cidrs %}
    allow {{ cidr }};
{% endfor %}
    deny all;

    location / {
{% if route.auth_token is defined and route.auth_token %}
        if ($http_x_wraith_redirector_token != "{{ route.auth_token }}") {
            return 403;
        }
{% endif %}
        proxy_http_version 1.1;
        proxy_set_header Host $host;
        proxy_set_header X-Real-IP $remote_addr;
        proxy_set_header X-Forwarded-For $proxy_add_x_forwarded_for;
        proxy_set_header X-Wraith-Redirector-Token "";
{% if route.proxy_set_headers is defined %}
{% for header_name, header_value in route.proxy_set_headers.items() %}
        proxy_set_header {{ header_name }} {{ header_value }};
{% endfor %}
{% endif %}
        proxy_pass http://wraith_{{ route.name | replace('-', '_') }}_backends;
    }
}

{% endfor %}
