[req]
distinguished_name = req_distinguished_name
req_extensions = v3_req
prompt = no

[req_distinguished_name]
CN = {{ wraith_tls_common_name }}

[v3_req]
subjectAltName = @alt_names

[alt_names]
{% for dns_name in wraith_server_cert_sans_dns %}
DNS.{{ loop.index }} = {{ dns_name }}
{% endfor %}
{% for ip_addr in wraith_server_cert_sans_ip %}
IP.{{ loop.index }} = {{ ip_addr }}
{% endfor %}
